body {
    background-color: rgba(0, 108, 134, 0.877);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

form input[id=btn] {
    border-radius: 15px;
    outline: 0;
    border: 1px solid rgba(0, 108, 134, 0.877);
    width: 39%;
    height: 30px;
    transition: 1s;
    font-size: large;
    margin: 5px;
}

form input[id=btn]:hover {
    width: 45%;
    background-color: rgb(2, 152, 163);
    color: white;
    font-size: larger;
    box-shadow: 3px 3px 5px darkcyan;
    cursor: pointer;
}

h1 {
    color: darkblue;
}

#resultado {
    font-size: x-large;
    color: rgb(5, 255, 138);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}