body {
    background-color: #34495e;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: small;
}

form {
    background-color: #191919;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

form input[type=number] {
    width: 60%;
    height: 23px;
    border-radius: 10px;
    transition: 0.25s;
    background: none;
    border: 2px solid #3498db;
    text-align: center;
    color: ghostwhite;
    outline: none;
    margin-top: 20px;
}

form input[id='num']:focus {
    width: 66%;
    border-color: #2ecc71;
    height: 27px;
}

form input[type=button] {
    border: 2px solid #3498db;
    outline: none;
    width: 30%;
    padding: 6px 8px;
    border-radius: 10px;
    background: none;
    transition: 0.25s;
    color: white;
    cursor: pointer;
}

form input[type=button]:hover {
    width: 33%;
    padding: 7px 9px;
    background: #2ecc71;
    border: none;
}

#resultado {
    font-size: x-large;
}