body {
    background-color: rgba(36, 36, 36, 0.877);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

form input[id=btn] {
    border-radius: 15px;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.877);
    width: 39%;
    height: 30px;
    transition: 1s;
    font-size: large;
    margin: 5px;
}

form input[id=btn]:hover {
    width: 45%;
    background-color: rgb(163, 61, 2);
    color: white;
    font-size: larger;
    box-shadow: 3px 3px 5px rgb(245, 245, 245);
    cursor: pointer;
}

h1 {
    color: rgb(139, 63, 0);
}

#resultado {
    font-size: x-large;
    color: rgb(161, 1, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#numeros {
    color: brown;
    size: large;
}